*{
    padding: 0;
    margin: 0;
}
body{
  width: 1440px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
main{
    display: grid;
    grid-template-columns: 600px 300px;
    justify-content: center;
    align-items: center;
    column-gap: 6em;
    margin: 2em;

}
 footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding-right: 30%;
    gap: 1em;
 }
 .text{
    display: flex;
    gap: 20px;
 }
header h2{
    font-size: 55px;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    padding-left: 4em;
    padding-top: 0.8em;
}
.box1 p{
    width: 84%;
    font-size: 24px;
    font-weight: 400;
}
.icon{
   padding-left: 12em; 
}
.text p{
    width: 150px;
}
@media only screen and (max-width:830px) {
    .icon{
        display: none;
    }
    footer{
        padding-left: 14%;
    }
}
@media only screen and (max-width: 375px){
    .box1{
        grid-column: 1/span4;
        width: 600px;
    }
    .box2{
        padding: 50px;
    }
    .icon{
        display: none;
    }
      .text{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 0.1em;
     } 
      
    header h2{
       padding-left: 3.8em;
    }
    main{
        padding-left: 4em;
    }
}